img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #d4ecdd;
}
.character-card {
  background: #d4ecdd;
  background: #345b63;
  padding: 15px;
  border-radius: 7px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  box-shadow: 0.25em 0.25em 0.75em rgb(0 0 0 / 55%),
    0.125em 0.125em 0.25em rgb(0 0 0 / 25%);
  transition: 0.4s;
}
.character-card:hover {
  transform: scale(1.015);
}
.text-whitish {
  color: #d4ecdd;
}
.text-blue {
  color: #316b83;
}
.custom-width {
  width: 50%;
}
table {
  margin-bottom: 0 !important;
}
table td:first-child {
  /* padding-left: 0; */
  padding-right: 0;
}
table td:last-child {
  padding-left: 0;
  padding-right: 0;
}
table tr:last-child td {
  border-bottom: none;
}
