img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.character-card {
  background: #d4ecdd;
  background: #345b63;
  padding: 15px;
  border-radius: 7px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.text-whitish {
  color: #d4ecdd;
}
.text-blue {
  color: #316b83;
}
